<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello Customer!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello Customer</h1>
        <br></br>
        <h3>You are signed in as: [[${#httpServletRequest.remoteUser}]]</h3>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>